* {
  box-sizing: border-box;
}

:root {
  --textAccentColor: #61DAFB;
  --bgAccentColor: #21222A;
}

body {
  background-color: #282D35;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: Inter, Impact, Arial, sans-serif;
}

header {
  padding: 30px 25px;
  background-color: var(--bgAccentColor);
  height: 90px;
}

nav {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  box-shadow: 0 1px 3px var(--bgAccentColor);
}

nav > img {
  width: 40px;
}

nav > span {
  color: var(--textAccentColor);
  font-weight: 700;
  font-size: 1.4rem;
}

main {
  padding: 60px 30px 0;
  overflow-x: hidden;
}

.main-title {
  margin: 0;
  font-size: 2.4rem;
}

.main-list {
  margin-top: 46px;
  max-width: 400px;
}

.main-list > li {
  padding-block: 10px;
  line-height: 19px;
}

.main-list > li::marker{
  color: var(--textAccentColor);
  font-size: 1.5rem;
}

.bg-logo-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.bg-logo {
  width: 300px;
  position: absolute;
  overflow-x: hidden;
  left: 75%;
  bottom: 5%;
  z-index: -1;
  filter: grayscale(90%) opacity(10%) brightness(80%);
}